<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Business Contact Form (BCF)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link a CSS externo -->
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        /* Estilos básicos para mejor apariencia */
        
        .submit-btn {
            padding: 10px 15px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .submit-btn:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        #error-message {
            display: none;
            color: red;
            text-align: center;
            margin-bottom: 20px;
        }
        /* Ocultar secciones por defecto */
        .manual-section {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <div class="nav">
            <img src="/images/logo.jpeg" alt="Company Logo" class="logo">
            <h1>Business Contact Form (BCF)</h1>
            <img src="/images/iftf.png" alt="IFTF Logo" id="iftf" class="logo">
        </div>
    </header>
    <main>
        <!-- Selección de Método de Ingreso de Información -->
        <div class="method-selection">
            <label>
                <input type="radio" name="method" value="card" checked>
                Agregar desde tarjeta
            </label>
            <label>
                <input type="radio" name="method" value="manual">
                Agregar manualmente
            </label>
        </div>

        <!-- Formulario Unificado -->
        <form id="upload-form" enctype="multipart/form-data">
            <div id="error-message"></div>

            <!-- Campo de Email (Común a ambos métodos) -->
            <section class="company">
                <h2>Contact Form</h2>
                <div class="form-group">
                    <label for="email">E-mail <span style="color: red;">*</span></label>
                    <input type="email" id="email" name="email" placeholder="example@dominio.com" required>
                </div>
            </section>

            <!-- Sección para Información desde Tarjeta -->
            <div class="card-section">
                <!-- Image upload section -->
                <section class="company">
                    <h2>Business Card</h2>
                    <div class="form-group">
                        <label for="image-upload">Selecciona una imagen <span style="color: red;">*</span></label>
                        <input type="file" id="image-upload" name="image" accept="image/*" required>
                    </div>
                    <!-- Image preview (opcional) -->
                    <!--img id="image-preview-upload" src="#" alt="Image Preview" style="display: none;"-->
                </section>

                <!-- Optional Logo Upload Section -->
                <section class="company">
                    <h2>Subir foto (opcional)</h2>
                    <div class="form-group">
                        <label for="logo-upload">Selecciona una foto:</label>
                        <input type="file" id="logo-upload" name="logo" accept="image/*">
                    </div>
                    <!-- Logo preview -->
                    <img id="logo-preview-upload" src="#" alt="Logo Preview" style="display: none; height: 50px; width: auto;">
                </section>

                <!-- Extracted text section -->
                <section class="company">
                    <h2>Información:</h2>
                    <div class="form-group">
                        <label for="extractedText-upload"></label>
                        <textarea id="extractedText-upload" name="extractedText" class="extracted-text" readonly></textarea>
                    </div>
                </section>
            </div>

            <!-- Sección para Información Manual -->
            <div class="manual-section">
                <!-- Campo de Nombre -->
                <section class="company">
                    <h2>Información del Cliente</h2>
                    <div class="form-group">
                        <label for="name">Nombre <span style="color: red;">*</span></label>
                        <input type="text" id="name" name="name" placeholder="Tu Nombre" required>
                    </div>
                </section>

                <!-- Campo de Número de Teléfono -->
                <section class="company">
                    <div class="form-group">
                        <label for="phone">Número de Teléfono <span style="color: red;">*</span></label>
                        <input type="tel" id="phone" name="phone" placeholder="+1 234 567 890" required>
                    </div>
                </section>

                <!-- Opcional: Subir Foto -->
                <section class="company">
                    <h2>Subir foto (opcional)</h2>
                    <div class="form-group">
                        <label for="manual-logo-upload">Selecciona una foto:</label>
                        <input type="file" id="manual-logo-upload" name="logo" accept="image/*">
                    </div>
                    <!-- Logo preview -->
                    <img id="manual-logo-preview-upload" src="#" alt="Logo Preview" style="display: none; height: 50px; width: auto;">
                </section>
            </div>

            <!-- Additional Notes Section (Común a ambos métodos) -->
            <section class="notes">
                <h2>Notas:</h2>
                <div class="form-group">
                    <label for="additionalNotes-upload">Por favor, añade cualquier nota o detalle adicional (interés en productos, relación comercial buscada, pedidos realizados):</label>
                    <textarea id="additionalNotes-upload" name="additionalNotes" rows="6" placeholder="Añade tus notas.."></textarea>
                </div>
            </section>

            <!-- Botón para Enviar el Formulario -->
            <button type="submit" id="submit-btn" class="submit-btn" disabled>Enviar</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Majorfd S.A.S. Todos los derechos reservados.</p>
    </footer>

    <script>
        // ----------- Manejo de Selección de Método -----------
        document.querySelectorAll('input[name="method"]').forEach(function(elem) {
            elem.addEventListener('change', function(event) {
                if (event.target.value === 'card') {
                    document.querySelector('.card-section').style.display = 'block';
                    document.querySelector('.manual-section').style.display = 'none';
                    
                    // Activar campos de tarjeta
                    document.getElementById('image-upload').required = true;
                    
                    // Desactivar campos manuales
                    document.getElementById('name').required = false;
                    document.getElementById('phone').required = false;
                    
                    // Limpiar valores de campos manuales
                    document.getElementById('name').value = '';
                    document.getElementById('phone').value = '';
                    
                    // Desactivar campo de foto manual
                    document.getElementById('manual-logo-upload').required = false;
                    document.getElementById('manual-logo-upload').value = '';
                    document.getElementById('manual-logo-preview-upload').style.display = 'none';
                    
                    // Habilitar o deshabilitar botón de envío
                    document.getElementById('submit-btn').disabled = true;
                } else if (event.target.value === 'manual') {
                    document.querySelector('.card-section').style.display = 'none';
                    document.querySelector('.manual-section').style.display = 'block';
                    
                    // Desactivar campos de tarjeta
                    document.getElementById('image-upload').required = false;
                    
                    // Activar campos manuales
                    document.getElementById('name').required = true;
                    document.getElementById('phone').required = true;
                    
                    // Limpiar valores de campos de tarjeta
                    document.getElementById('image-upload').value = '';
                    document.getElementById('extractedText-upload').value = '';
                    document.getElementById('logo-upload').value = '';
                    document.getElementById('logo-preview-upload').style.display = 'none';
                    
                    // Desactivar requerimiento de foto manual (opcional)
                    document.getElementById('manual-logo-upload').required = false;
                    document.getElementById('manual-logo-upload').value = '';
                    document.getElementById('manual-logo-preview-upload').style.display = 'none';
                    
                    // Habilitar el botón de envío directamente
                    document.getElementById('submit-btn').disabled = false;
                }
            });
        });

        // ----------- Manejo de Previsualización de Imagen (Tarjeta) -----------
        document.getElementById('image-upload').addEventListener('change', function () {
            const fileInput = document.getElementById('image-upload');
            const imagePreview = document.getElementById('image-preview-upload');

            if (fileInput.files.length === 0) {
                imagePreview.style.display = 'none';
                return;
            }

            // Mostrar previsualización de la imagen (opcional)
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(fileInput.files[0]);

            // Iniciar la extracción automática de texto
            extractText();
        });

        // ----------- Manejo de Previsualización de Logo (Tarjeta) -----------
        document.getElementById('logo-upload').addEventListener('change', function () {
            const logoInput = document.getElementById('logo-upload');
            const logoPreview = document.getElementById('logo-preview-upload');

            if (logoInput.files.length === 0) {
                logoPreview.style.display = 'none';
                return;
            }

            // Mostrar previsualización del logo
            const reader = new FileReader();
            reader.onload = function(e) {
                logoPreview.src = e.target.result;
                logoPreview.style.display = 'block';
            }
            reader.readAsDataURL(logoInput.files[0]);
        });

        // ----------- Manejo de Previsualización de Logo (Manual) -----------
        document.getElementById('manual-logo-upload').addEventListener('change', function () {
            const logoInput = document.getElementById('manual-logo-upload');
            const logoPreview = document.getElementById('manual-logo-preview-upload');

            if (logoInput.files.length === 0) {
                logoPreview.style.display = 'none';
                return;
            }

            // Mostrar previsualización del logo
            const reader = new FileReader();
            reader.onload = function(e) {
                logoPreview.src = e.target.result;
                logoPreview.style.display = 'block';
            }
            reader.readAsDataURL(logoInput.files[0]);
        });

        // ----------- Función para Extraer Texto Automáticamente -----------
        async function extractText() {
            const form = document.getElementById('upload-form');
            const formData = new FormData(form);
            const errorMessage = document.getElementById('error-message');
            const extractedText = document.getElementById('extractedText-upload');
            const submitBtn = document.getElementById('submit-btn');

            try {
                // Enviar los archivos al servidor para extraer el texto
                const response = await fetch('/extract', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorRes = await response.json();
                    throw new Error(errorRes.error || 'Error al procesar la imagen.');
                }

                const result = await response.json();

                // Asignar el texto extraído recibido del servidor
                extractedText.value = result.extractedText || "Texto extraído con éxito.";
                errorMessage.style.display = 'none';

                // Habilitar el botón de envío
                submitBtn.disabled = false;
            } catch (error) {
                console.error('Error extracting text:', error);
                errorMessage.textContent = error.message || 'Error al extraer texto de la imagen.';
                errorMessage.style.display = 'block';
                extractedText.value = '';
                // Deshabilitar el botón de envío si hay un error
                submitBtn.disabled = true;
            }
        }

        // ----------- Manejo de Envío del Formulario -----------
        document.getElementById('upload-form').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evita el envío tradicional del formulario

            const form = event.target;
            const formData = new FormData(form);
            const errorMessage = document.getElementById('error-message');
            const method = document.querySelector('input[name="method"]:checked').value;

            // Validación adicional de Email en el frontend
            const email = document.getElementById('email').value.trim();
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailRegex.test(email)) {
                errorMessage.textContent = 'Por favor, ingresa un correo electrónico válido.';
                errorMessage.style.display = 'block';
                return;
            }

            // Añadir el método al FormData
            formData.append('method', method);

            try {
                // Enviar los datos al servidor para guardar en Firestore y enviar el correo
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorRes = await response.json();
                    throw new Error(errorRes.error || 'Error al enviar el formulario.');
                }

                const result = await response.json();

                // Redirigir a la página de agradecimiento
                window.location.href = '/thankyou';
            } catch (error) {
                console.error('Error submitting the form:', error);
                errorMessage.textContent = error.message || 'Error al enviar el formulario.';
                errorMessage.style.display = 'block';
            }
        });
    </script>
</body>
</html>
